<%- include('partials/header') %>
<div class="jumbotron centered">
    <div class="container">
      <i class="fa-solid fa-heart-pulse fa-beat fa-6x" style="color: #e60f0f;"></i>
      <h1 class="display-3">HealthyFy Me and Healthy Millets</h1>
      <p class="lead">Get Ready to start living a healty and happy life !</p>
      <hr>
      <a class="btn btn-light btn-lg margner-1" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
<%- include('partials/footer') %>